  <div class="col-md-9">Онлайн петиции нашего района</div>
  <div class="col-md-3">
    <span>
    <% if current_user %>
          <%= current_user.email %> (<%= link_to 'Выйти', logout_path%>)
      <% else %>
          <%= link_to 'Зарегистрироваться',signup_path %> | <%= link_to 'Войти', login_path %>
      <% end %>
      </span>
  </div>
