  <div class="col-md-12">
    <div class="col-md-9">
     <span class="logo">
        Онлайн петиции нашего района
     </span>
    </div>

    <div class="col-md-3 user-options">
      <span>
    <% if current_user %>
          <%= current_user.email %> (<%= link_to 'Выйти', logout_path%>)
      <% else %>
          <%= link_to 'Зарегистрироваться',signup_path %> | <%= link_to 'Войти', login_path %>
      <% end %>
        </span>
     </div>
  </div>
