<div class="well sidebar-nav">
  <ul class="nav nav-list menu-links">
    <li><%= link_to 'Все петиции', petitions_path %></li>
    <li><%= link_to 'Создать петицию', new_petition_path %></li>
    <% if current_user %>
        <li><%= link_to 'Мои петиции', petitions_path({ my: true } ) %></li>
    <% end %>
  </ul>
</div>