<div class="col-md-10">
<div>
  <% flash.each do |name, msg| %>
      <span class="label label-success"><%= msg %></span>
  <% end %>
</div>

<h1><%= @title %></h1>
  <% if @title == 'Мои петиции'  %>
    <%= render "my_petitions_table", layout: "application" %>
  <% else %>
      <%= render "petitions_table", layout: "application" %>
  <% end %>
</div>