
  <% flash.each do |name, msg| %>
      <div class="alert alert-success"><%= msg %></div>
  <% end %>

<h1><%= @title %></h1>

  <% if @title == 'Мои петиции'  %>
    <%= render "my_petitions_table", layout: "application" %>
  <% else %>
      <%= render "petitions_table", layout: "application" %>
  <% end %>
