<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Здравствуйте,
</p>
<p>
  Петиция "<%= @petition.title %>" собрала <%= @petition.votes.count %> голосов и должна быть рассмотрена.
</p>
</body>
</html>